body {
    font-family: Arial, sans-serif;
    background: #fff;
}

.card {
    width: 350px;
    background: #d9d9d9;
    margin: 20px auto;
    padding: 20px;
    border: 10px solid transparent;
    border-image: repeating-linear-gradient(
        45deg,
        orange 0 10px,
        #fff 10px 20px
    ) 30;
    text-align: center;
    box-shadow: 0px 0px 10px #aaa;
}

.product-img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.title {
    font-size: 28px;
    margin: 10px 0;
    font-weight: bold;
}

.desc {
    height: 140px;
    overflow-y: scroll;
    text-align: left;
    padding-right: 10px;
}

.price {
    font-size: 22px;
    font-weight: bold;
    margin-top: 15px;
}
